<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Beast Finder</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/style.css" media="screen">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>

    <script src="/public/indexPrecompiled.js"></script>
    <script src="/public/beastTableEntryPrecompiled.js"></script>

    <script src="/index.js" charset="utf-8" defer></script>

</head>

<body>
    <h1>Weclome to Beast Finder!</h1>
    <main class="table-container">
        {{#each beastData}}
            {{> beastTableEntry}}
        {{/each}}
        {{#if error}}
            <h2>No results!</h2>
        {{/if}}
    </main>
</body>

</html>